.icon1{
    background-color: url(../img/calendar.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}
.icon2{
    background-color: url(../img/information.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}
.icon3{
    background-color: url(../img/setting.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}
.icon4{
    background-color: url(../img/send.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}

.bgicon1{
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}

.bgicon2{
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}


.bgicon3{
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}


.bgicon4{
    background-image: url(../img/send.png);
    background-repeat: no-repeat;
    width: 512px;
    height: 512px;
}
.svg-logo path{
    fill: #fff;
}
.main-menu-item a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}
.header{
    position: sticky;
    background-color: blue;
}